{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'recommendations/main.css' %}">
    <style>
        /* CSS-Regeln für das Zentrieren des Absatzes */
        td {
            word-wrap: break-word; /* Fügt einen Zeilenumbruch innerhalb von Wörtern hinzu */
        }

        .sequence {
            word-break: break-word;
        }

        p.centered {
            text-align: center;
        }
    </style>
    <title>RNA Binding Prediction - Startseite</title>
</head>
<body>
<div class="container">
    <h1 class="mb-4">RNA Binding Prediction</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="inputMethod mt-4 w-100">
            <label for="id_text_input">Enter the query protein sequences in FASTA format:</label>
            <textarea class="form-control" id="id_text_input" name="text_input" rows="5"
                      placeholder="Enter your text input"></textarea>
        </div>

        <p class="mt-4">OR upload your input file:</p>

        <div class="inputMethod mt-4 w-100">
            <input type="file" class="form-control-file" id="id_file_input" name="file_input">
        </div>

        <p class="mt-4">Please choose a species-specific predictor:</p>

        <div class="inputMethod mt-4 w-100">
            <label for="id_species">Species:</label>
            <select class="form-control" id="id_species" name="species">
                <option value="Trypanosoma brucei">Trypanosoma brucei</option>
                <option value="Trypanosoma cruzi">Trypanosoma cruzi</option>
                <option value="Leishmania major">Leishmania major</option>
                <option value="Bodo saltans">Bodo saltans</option>
            </select>
        </div>

        <div class="inputMethod mt-4 w-100">
            <label>Threshold:</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="threshold" id="threshold_0.6" value="0.6">
                <label class="form-check-label" for="threshold_0.6">0.6</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="threshold" id="threshold_0.7" value="0.7">
                <label class="form-check-label" for="threshold_0.7">0.7</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="threshold" id="threshold_0.8" value="0.8">
                <label class="form-check-label" for="threshold_0.8">0.8</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="threshold" id="threshold_0.9" value="0.9">
                <label class="form-check-label" for="threshold_0.9">0.9</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="threshold" id="threshold_0.95" value="0.95">
                <label class="form-check-label" for="threshold_0.95">0.95</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4" onclick="submitForm(event)">Submit</button>
    </form>
</div>
{% if gene_sequences %}
    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">GeneID</th>
                <th scope="col">Sequence</th>
                <th scope="col">Value</th>
                <th scope="col">RNA-binding</th>
            </tr>
            </thead>
            <tbody>
            {% for gene_sequence in gene_sequences %}
                <tr>
                    <td>{{ gene_sequence.0 }}</td>
                    <td class="sequence">{{ gene_sequence.1 }}</td>
                    <td>{{ gene_sequence.2 }}</td>
                    <td>{{ gene_sequence.3 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
</div>

<script>
    function submitForm(event) {
        event.preventDefault();

        var textInput = document.querySelector("#id_text_input");
        var fileInput = document.querySelector("#id_file_input");

        // Hier kannst du den Code einfügen, um die Eingabe zu verarbeiten
        // Du kannst auf die Werte von textInput, fileInput und species zugreifen

        // Beispiel:
        console.log("Text Input:", textInput.value);
        console.log("File Input:", fileInput.files[0]);
        console.log("Species:", document.querySelector("#id_species").value);

        // Füge hier deinen weiteren Code ein, um die Eingabe zu verarbeiten

        // Anschließend kannst du das Formular absenden
        document.querySelector("form").submit();
    }
</script>

</body>
</html>
